* { /* CSS RESET */
    margin: 0;
    padding: 0px;
}
/* fontes globais
font-family: Verdana, Arial, Helvetica, sans-serif;

@font-face*/

nav {
    font-size: 20px;
}

.nav-itens {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    display: flex;
    margin-top: 10px;
    
}

.nav-itens>li>a {
    padding-left: 20px;
    color: darkgray;
    text-decoration: none;
    
}

.nav-itens>li>a:hover {
    color: rgb(251, 253, 255);
}

body {
    background-color: rgb(241, 161, 127);
}

.main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 150px;
}
.main h1 {
    font-size: 60px;
}
.main h2 {
    font-size: 40px;
    padding-top: 1px;
}

.logotipo {
    margin-bottom: 16px;
    width: 70px;
    height: 50px;
}

footer {
    height: 35px;
}
footer p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}







