.contact-form {
    width: 95%;
}

.contact-form form {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 80px;
    margin-left: 35px;
}

form button {
    margin-left: 50px;
}

















